body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.navbar{
    max-width: 80vw;
    max-height: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: whitesmoke;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}



#navBtn{
    cursor: pointer;
    display: none;
}



.nav_link_container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: auto;
}

.nav_link_container li{
    padding: 0 10px;
    list-style: none;
}
.nav_link_container li a{
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 2.5vmin;
    font-weight: bold;
}

section{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("headernackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 5;
    overflow: hidden;
    filter: brightness(80%);
}

.container{
    max-width: 1440px;
}

.header_content{
    max-width: 65vw;
    max-height: 100vh;
    padding: 2vmin;
}

h2{
    margin: 0;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vmin;
    text-transform: uppercase;
}

.line{
    min-height: 0.7vh;
    max-width: 10vw;
    margin: 3vmin auto;
    border-radius: 20px;
    background-color: whitesmoke;
}


.btn{
    border: 3px solid whitesmoke;
    border-radius: 10px;
    padding: 1.5vmin 3vmin;
    margin: auto;
    text-transform: uppercase;
    background-color: transparent;
    color: whitesmoke;
    font-size: 2vmin;
    margin: 0 0.5vmin;
    cursor: pointer;
}

.btn:hover{
    background-color: whitesmoke;
    color: black;
    transition: 0.5s all ease-in-out;
}

.bubbles{
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -90px;
    z-index: 15;
    align-items: center;
}

.bubbles img{
    max-width: 5vmax;
    animation: bubble 4s linear infinite;
}
/* The animation code */
@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
  }

.bubbles img:nth-child(1){
    animation-delay: 1s;
    max-width: 4vmax;
}
.bubbles img:nth-child(2){
    animation-delay: 2s;
    max-width: 2vmax;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    max-width: 4vmax;
}
.bubbles img:nth-child(4){
    animation-delay: 2s;
    max-width: 3vmax;
}
.bubbles img:nth-child(5){
    animation-delay: 4s;
    max-width: 4vmax;
}
.bubbles img:nth-child(6){
    animation-delay: 2.5s;
    max-width: 6vmax;
}
.bubbles img:nth-child(7){
    animation-delay: 4.2s;
}

@media screen and (max-width: 1092px) {
    .line {
      display: none;
    }
    .btn{
        margin-top: 20px;padding: 10px 25px;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
        max-height: 100vh;
        max-width: 100vw;
        margin: 20px 0;
        background: #a323b3;
        justify-content: space-between;
        transform: translateY(-100vh);
        -webkit-border-bottom-right-radius: 100px;
        -moz-border-radius-bottomright: 100px;
        border-bottom-right-radius: 100px;
    }

      .nav_link_container{
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
        height: 90vh;
    }
    
    .nav_link_container li{
        margin: 20px auto;
    }
    .nav_link_container li a{
        font-size: 20px;
    }

   .logo{
       position: absolute;
       top: 0;left: 0;
       margin: 10px;
   }
    #navBtn{
        display: block;
        position: absolute;
        right: 0;
        z-index: 100;
        margin: 40px;
    }
    

    #crossBtn{
        position: absolute;
        right: 0;
        z-index: 200;
        margin: 40px;
    }
    .closeNavbar{
        transform : translateY(-100vh);
        transition: 1.2s all ease-in-out;
    }
    .responsive_navbar{
        transform : translateY(0vh) !important;
        transition: 1.2s all ease-in-out;
    }


    
}